.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 0 0 rgba(0, 0, 0, .28), 0 2px 6px rgba(0, 0, 0, .23);
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.forsp {
    position: absolute;
    left: 65px;
    top: 4px;
}

.forsp ul a.active {
    background-color: none;
}

.forsp ul>li>a {
    background-color: #dfdfdf;
    border: none
}

@media (max-width: 499px) {
    .Logo {
        display: none;
    }
    .Toolbar {
        height: 50px;
    }
    .forsp {
        display: none;
    }
}